* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#sidebar {
    position: absolute;
    top: 0px;
    left: -200px;
    width: 200px;
    height: 100%;
    background: rgb(23, 175, 86);
    opacity: 1;
    transition: all 300ms linear;
}

#sidebar.active {
    left: 0px;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 220px;
    top: 10px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 5px 0px;
    cursor: pointer;
}

#sidebar div.list div.item {
    padding: 15px 10px;
    border-bottom: 1px solid rgb(2, 2, 2);
    color: #0f0f0f;
    text-transform: uppercase;
    font-size: 15px;
}